{% extends 'myapp/_shared.html'%}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/register.css'%}">
<div class="container">
    <div class="profile-container">
        {% if errors %}
        {{errors}}
        {% endif %}
        
        <form action="" method="post">
            {% csrf_token %}
            <h3>Reigster Form</h3>
            <br>
            <div class="form-control">
                <label for="first_name">First Name</label>
                <br>
                <input type="text" name="first_name">
            </div>
            <div class="form-control">
                <label for="last_name">Last Name</label><br>
                <input type="text" name="last_name">
            </div>
            <div class="form-control">
                <label for="username">Username</label><br>
                <input type="text" name="username">
            </div>
            <div class="form-control">
                <label for="email">Email</label><br>
                <input type="email" name="email" autocomplete="email">
            </div>
            <div class="form-control">
                <label for="phone">Phone</label><br>
                <input type="phone" name="phone">
            </div>
            <div class="form-control">
                <label for="password1">Password</label><br>
                <input type="password" name="password1">
            </div>
            <div class="form-control">
                <label for="confirm_password">Confirm Password</label><br>
                <input type="password" name="password2">
            </div>
            
            <div class="form-control">
                <label for="as_canadian">As Canadian</label>
                <input type="checkbox" name="canadian">
            </div>

            <select style="display: none;" name="occupation" id="occupation">
                {% for occupation in occupations %}
                    <option value="{{occupation.id}}">{{occupation}}</option>
                {% endfor %}
            </select>
            
            <div class="form-control">
                <a href="{% url 'login' %}">Already have account !!</a>
            </div>

            <input class="btn-login" type="submit" value="register">
        </form>
    </div>
</div>

<script>
    let appear = false
    function toogleOccupationInput() {
        appear = ! appear
        let select = document.querySelector("select")
        select.style.display = (appear) ? "inline" : "none"
    }

    let checkbox = document.querySelector("input[type='checkbox']")
    checkbox.addEventListener("change" , (e)=>{
        toogleOccupationInput()
    })
</script>

{% endblock %}