{% extends 'myapp/_shared.html'%}
{% load static %}
{% block content %}
<style>
    .btn-accept {
    text-decoration: none;
    border-radius: 8px;
    padding: 1rem;
    cursor: pointer;
    background-color: rgb(0, 143, 107);
    color: white;
    font-size: medium;
    text-align: center;
}

.review{
    display: flex;
    flex-direction: column;
}
</style>
<link rel="stylesheet" href="{% static 'css/canadian.css'%}">
 <div class="container">
    <div class="profile-container">
        <div class="profile">
            <img class="profile-img" src="{{ canadian.profile.url }}" alt="profile">
            <h3 class="fullname">{{canadian.user.first_name}} {{canadian.user.last_name}}</h3>
            <h5 class="job-title">{{canadian.occupation.name}}</h5>
            <h5 class="job-title">{{canadian.phone}}</h5>

            <div class="rate-container">
                {% for n in range %}
                {% if canadian.rate > n %}
                    <span class="fa fa-star checked"></span>
                {% else %}
                <span class="fa fa-star"></span>
                {% endif %}
                {% endfor %}
            </div>

            <a href="{% url 'canadian' %}" class="btn-requests">Back</a>
            <a href="{% url 'canadian_requests_accepted' %}" class="btn-accept">Accepted Request</a>
            <a href="{% url 'edit_candian_profile' %}" class="btn-edit">Edit Profile</a>
        </div>

        <div class="review-continer">
            <h4>Requests</h4>
            {% for request in requests %}
            <div class="review-card">
                <div class="user-profile">
                    <img class="review-img" src="{{request.user.profile.url}}" alt="" srcset="">
                    <h5>{{request.user.user.first_name}} {{request.user.user.last_name}}</h5>
                    <h4 class="job-title">{{request.user.phone}}</h4>
                </div>
                <div class="review">
                    <div class="date">{{request.createdAt}}</div>
                    <div>{{request.description}}</div>
                    <a href="{% url 'finish_request' request.id %}" class="btn-accept">FINISH</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}